@model CartViewModel
<div>
    @foreach (var el in Model.Cart.ListCartItems)
    {
        <div class="alert alert-warning mt-3">
            <b>Auto</b>@el.Car.Name<br />
            <b>Price</b>@el.Car.Price.ToString("c")
        </div>
    }
    <hr />
    <a class="btn btn-danger mb-5" asp-controller="Order" asp-action="CheckOut">Pay</a>
</div>